
.login-form{
  margin-top: 200px;
  margin:0 auto;
  width: 200px;
}

.logo {
  width: 200px;
  height: 75px;
}

.logo2{
  width: 100px;
  height: 40px;
}

.btnSubmit{
  margin-top: 5px;
}

.menuButtons {
  height: 100px;
  font-size: 35px;
}
