
.login-form{
  margin-top: 200px;
  margin:0 auto;
  width: 200px;
}

.logo {
  width: 200px;
  height: 75px;
}

.logo2{
  width: 100px;
  height: 40px;
}

.btnSubmit{
  margin-top: 5px;
}

.modal-body {
  max-height: 80vh;
}

/* seletor paginação */
.pag{
  width: 200px;
}

/* imprimir apenas modal */
@media print
{
    .non-printable { display: none; }
    .printable { display: block; }
}

/* posicionamento do navbar */
@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

@media (min-width: 768px) {
  .navbar-nav.navbar-right {
    position: absolute;
    left: 95%;
    transform: translatex(-50%);
  }
}
